%h1 Listing user_queries

%table
  %thead
    %tr
      %th Product
      %th Search text
      %th
      %th
      %th

  %tbody
    - @user_queries.each do |user_query|
      %tr
        %td= user_query.product.code
        %td= user_query.search_text
        %td= link_to 'Show', user_query

%br

= link_to 'New User query', new_user_query_path
